

*,
*::before,
*::after {
    box-sizing: border-box;
}

body {
    display: grid;
    min-height: 100vh;
    place-items: center;
    line-height: 1.6;
    background: #1D1D42;
    font-family: sans-serif;
}

li {
    background-size: cover;
    padding: 10rem 0 0;
    max-width: 40ch;
    border-radius: .5rem;
    overflow: hidden;
    transition: transform 500ms ease;
    position: relative;
    display: grid;
}
.card-img:hover {
    transform: scale(1.05);
}
.cards {
    padding: 1.5em;
    padding: var(--padding);
    background: linear-gradient(
        hsl(0 0% / 0), 
        hsl(20 0% 0%/ .3) 20%,
        hsl(0 0% 0% / 1)
        );
    columns: 4;
}
.card-title {
    position: relative;
    width: max-content 100%;
    color: #6FCF97;
}

.card-title::after {
    content: '';
    position: absolute;
    height: 4px;
    width: 100%;
    left: 0;
    bottom: 0;
    background: #6FCF97;
}

.buy-btn {
    cursor: pointer;
    display: inline;
    text-decoration: none;
    color: #FFF;
    background-color: #4e2ecf;
    padding: 0.5em 1.25em;
    border-radius: .25em;

}

.buy-btn:hover,
.buy-btn:focus {
    background-color: var(--clr-neutral-100);
}

.card-body {
    color: rgb(255 255 255 / .8);
    
}

.card-img {
    position: relative;
    width: 100%;
}

.card-content {
    display: block;
    width: max-content;
}